@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.container{
    width: 2%;
    margin: auto;
    padding: 30px;
    border: px solid #7a09e3;
    border-radius: 10px;
    background-color: #bb0afb;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.placeholder{
    font-family: Playfair Display;
}

.form {
    text-align: center;
    margin-bottom: 10px;
    background-color: #de9ef6;
}

h1{
    font-family: Playfair Display;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #91b4ed;
    border-radius: 5px;
    font-family: Playfair Display;
}

button {
    padding: 10px 15px;
    background-color: #b361e2;
    color: rgb(82, 5, 86);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Playfair Display;

}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.1);
}
.red {
    border: 2px solid rgb(100, 2, 247);
    background-color: rgb(156, 204, 246);
}

.yellow {
    border: 2px solid rgb(40, 15, 231);
    background-color: rgb(189, 171, 255);
}

.green {
    border: 2px solid rgb(136, 203, 231);
    background-color: rgb(196, 242, 227);
    font-family: Playfair Display;
    
}

p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.tareas {
    padding: 10px;
    background-color: #de9ef6;
}
